/* Add this CSS to your existing styles or create a new CSS file for NewsDetail */

.detail-news-container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60rem;
}

.detail-news-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 70%;
    text-align: left;
    max-width: 800px;
    margin: 0 auto; /* Center the news-item horizontally */
}

.detail-news-item h2 {
    font-size: 1.5rem;
    margin: 1rem;
}

.detail-news-item p {
    margin: 1rem;
}

.detail-news-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.detail-share-button,
.detail-back-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.detail-share-button:hover,
.detail-back-button:hover {
    background-color: #0056b3;
}

.detail-news-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem;
}
